In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
# Reading the data
df = pd.read_csv("Resources/NDXT0918.csv")
print(df.shape)
print(df.info())
df.tail(5)

(2515, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2515 entries, 0 to 2514
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2515 non-null   object
 1   Open       2514 non-null   float64
 2   High       2514 non-null   float64
 3   Low        2514 non-null   float64
 4   Close      2514 non-null   float64
 5   Adj Close  2514 non-null   float64
 6   Volume     2514 non-null   float64
dtypes: float64(6), object(1)
memory usage: 137.7+ KB
None

,Date,Open,High,Low,Close,Adj Close,Volume
2510,2018-12-21,3678.120117,3678.550049,3526.399902,3539.260010,3539.260010,0.0
2511,2018-12-24,3510.389893,3557.780029,3456.469971,3457.919922,3457.919922,0.0
2512,2018-12-26,3494.810059,3649.389893,3451.909912,3649.389893,3649.389893,0.0
2513,2018-12-27,3591.709961,3685.810059,3551.090088,3684.270020,3684.270020,0.0
2514,2018-12-28,3700.040039,3744.239990,3651.139893,3683.939941,3683.939941,0.0

In [2]:
import datetime
df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = df['Date'].dt.strftime('%d.%m.%Y')
df['year'] = pd.DatetimeIndex(df['Date']).year
df['month'] = pd.DatetimeIndex(df['Date']).month
df['day'] = pd.DatetimeIndex(df['Date']).day
df['dayofyear'] = pd.DatetimeIndex(df['Date']).dayofyear
df['weekofyear'] = pd.DatetimeIndex(df['Date']).weekofyear
df['weekday'] = pd.DatetimeIndex(df['Date']).weekday
df['quarter'] = pd.DatetimeIndex(df['Date']).quarter
df['is_month_start'] = pd.DatetimeIndex(df['Date']).is_month_start
df['is_month_end'] = pd.DatetimeIndex(df['Date']).is_month_end
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2515 entries, 0 to 2514
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            2515 non-null   object
 1   Open            2514 non-null   float64
 2   High            2514 non-null   float64
 3   Low             2514 non-null   float64
 4   Close           2514 non-null   float64
 5   Adj Close       2514 non-null   float64
 6   Volume          2514 non-null   float64
 7   year            2515 non-null   int64
 8   month           2515 non-null   int64
 9   day             2515 non-null   int64
 10  dayofyear       2515 non-null   int64
 11  weekofyear      2515 non-null   int64
 12  weekday         2515 non-null   int64
 13  quarter         2515 non-null   int64
 14  is_month_start  2515 non-null   bool
 15  is_month_end    2515 non-null   bool
dtypes: bool(2), float64(6), int64(7), object(1)
memory usage: 280.1+ KB
None

C:\Users\rvara\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)

In [3]:
df = df.drop(['Date'], axis = 1)

In [4]:
df = pd.get_dummies(df, columns=['year'], drop_first=True, prefix='year')

df = pd.get_dummies(df, columns=['month'], drop_first=True, prefix='month')

df = pd.get_dummies(df, columns=['weekday'], drop_first=True, prefix='wday')
df = pd.get_dummies(df, columns=['quarter'], drop_first=True, prefix='qrtr')

df = pd.get_dummies(df, columns=['is_month_start'], drop_first=True, prefix='m_start')

df = pd.get_dummies(df, columns=['is_month_end'], drop_first=True, prefix='m_end')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2515 entries, 0 to 2514
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          2514 non-null   float64
 1   High          2514 non-null   float64
 2   Low           2514 non-null   float64
 3   Close         2514 non-null   float64
 4   Adj Close     2514 non-null   float64
 5   Volume        2514 non-null   float64
 6   day           2515 non-null   int64
 7   dayofyear     2515 non-null   int64
 8   weekofyear    2515 non-null   int64
 9   year_2010     2515 non-null   uint8
 10  year_2011     2515 non-null   uint8
 11  year_2012     2515 non-null   uint8
 12  year_2013     2515 non-null   uint8
 13  year_2014     2515 non-null   uint8
 14  year_2015     2515 non-null   uint8
 15  year_2016     2515 non-null   uint8
 16  year_2017     2515 non-null   uint8
 17  year_2018     2515 non-null   uint8
 18  month_2       2515 non-null   uint8
 19  month_3       2515 non-null   uint8
 20  month_4       2515 non-null   uint8
 21  month_5       2515 non-null   uint8
 22  month_6       2515 non-null   uint8
 23  month_7       2515 non-null   uint8
 24  month_8       2515 non-null   uint8
 25  month_9       2515 non-null   uint8
 26  month_10      2515 non-null   uint8
 27  month_11      2515 non-null   uint8
 28  month_12      2515 non-null   uint8
 29  wday_1        2515 non-null   uint8
 30  wday_2        2515 non-null   uint8
 31  wday_3        2515 non-null   uint8
 32  wday_4        2515 non-null   uint8
 33  wday_5        2515 non-null   uint8
 34  wday_6        2515 non-null   uint8
 35  qrtr_2        2515 non-null   uint8
 36  qrtr_3        2515 non-null   uint8
 37  qrtr_4        2515 non-null   uint8
 38  m_start_True  2515 non-null   uint8
 39  m_end_True    2515 non-null   uint8
dtypes: float64(6), int64(3), uint8(31)
memory usage: 253.1 KB

In [5]:
train = df.loc['2009-01-02':'2017-12-31']
test = df.loc['2018-01-02':]

print(train.shape)
print(test.shape)

(8, 40)
(496, 40)

In [6]:
# train = train.drop(['Close'], axis = 1) 
# test = test.drop(['Close'], axis = 1)

In [7]:
target_column_train = ['Close'] 
predictors_train = list(set(list(train.columns))-set(target_column_train))

X_train = train[predictors_train].values
y_train = train[target_column_train].values

print(X_train.shape)
print(y_train.shape)

(8, 39)
(8, 1)

In [15]:
target_column_test = ['Close'] 
predictors_test = list(set(list(test.columns))-set(target_column_test))

X_test = test[predictors_test].values
y_test = test[target_column_test].values

print(X_test.shape)
print(y_test.shape)

(496, 39)
(496, 1)

In [16]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [17]:
import sklearn
from sklearn import model_selection
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from math import sqrt

In [18]:
dtree = DecisionTreeRegressor(max_depth=8, min_samples_leaf=0.13, random_state=3)
dtree.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=8, min_samples_leaf=0.13, random_state=3)

In [19]:
# Code lines 1 to 3
pred_train_tree= dtree.predict(X_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_tree)))
print(r2_score(y_train, pred_train_tree))

# Code lines 4 to 6
# pred_test_tree= dtree.predict(X_test)
# print(np.sqrt(mean_squared_error(y_test,pred_test_tree))) 
# print(r2_score(y_test, pred_test_tree))

6.687287068281747
0.8984830965091583

In [20]:
pred_test_tree= dtree.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_tree))) 
print(r2_score(y_test, pred_test_tree))

1000.7700531156229
-4.905338477930028

In [21]:
# Code Lines 1 to 4: Fit the regression tree 'dtree1' and 'dtree2' 
dtree1 = DecisionTreeRegressor(max_depth=2)
dtree2 = DecisionTreeRegressor(max_depth=5)
dtree1.fit(X_train, y_train)
dtree2.fit(X_train, y_train)

# Code Lines 5 to 6: Predict on training data
tr1 = dtree1.predict(X_train)
tr2 = dtree2.predict(X_train) 

#Code Lines 7 to 8: Predict on testing data
y1 = dtree1.predict(X_test)
y2 = dtree2.predict(X_test)

In [22]:
print(np.sqrt(mean_squared_error(y_train,tr1))) 
print(r2_score(y_train, tr1))

# Print RMSE and R-squared value for regression tree 'dtree1' on testing data
print(np.sqrt(mean_squared_error(y_test,y1))) 
print(r2_score(y_test, y1))

4.322285309042462
0.9575902912167306
1002.9594293190961
-4.931204859197343

In [23]:
# Print RMSE and R-squared value for regression tree 'dtree2' on training data
print(np.sqrt(mean_squared_error(y_train,tr2))) 
print(r2_score(y_train, tr2))

# Print RMSE and R-squared value for regression tree 'dtree2' on testing data
print(np.sqrt(mean_squared_error(y_test,y2))) 
print(r2_score(y_test, y2))

0.0
1.0
996.2179180003661
-4.85173823153694

In [24]:
#RF model
model_rf = RandomForestRegressor(n_estimators=5000, oob_score=True, random_state=100)
model_rf.fit(X_train, y_train) 
pred_train_rf= model_rf.predict(X_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_rf)))
print(r2_score(y_train, pred_train_rf))

pred_test_rf = model_rf.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_rf)))
print(r2_score(y_test, pred_test_rf))

C:\Users\rvara\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

6.238845110333615
0.9116418048615149
1008.2217180142502
-4.993607368343928